<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.bcit.comp3717.a00968178.OpenData">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Open Data"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="ca.bcit.comp3717.a00968178.OpenData.databases.CustomContentProvider"
            android:authorities="ca.bcit.comp3717.a00968178.OpenData"
            android:enabled="true"
            android:exported="false">
        </provider>

        <activity android:name=".CategoriesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DatasetsActivity"
            android:parentActivityName=".CategoriesActivity" />
        <activity
            android:name=".SingleDatasetActivity"
            android:parentActivityName=".DatasetsActivity" />
        <activity android:name=".DatasetWebview"
            android:parentActivityName=".SingleDatasetActivity"></activity>
    </application>

</manifest>